.leaflet-popup-content-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
}

.popup-title {
    font-size: 3vh;
}

.popup-subtitle-container {
    font-size: 1.5vh;
}
.popup-subtitle {
    padding-left: 4px;
}