.navbar {
    width: 100%;
    height: 100%;
    display: inline-flex !important;
}

.breadcrumbs{
    padding: 1%;
}

.css-4pdmu4-MuiBreadcrumbs-ol {
    font-size: 2.5vh !important;
}

.css-4pdmu4-MuiBreadcrumbs-ol {
    vertical-align: text-bottom !important;
}